{% extends "main.html.twig" %}

{% block body %}
    {% set queryParams = app.request.query.all %}

    <table class="table">
        <thead>
            <tr>
                {% set initialParams = queryParams %}

                {% set queryParams = queryParams|merge({'sort': 'email'}) %}
                {% set queryParams = queryParams|merge({'sasc': true}) %}
                {% if sort == 'email' and sasc %}
                        {% set queryParams = queryParams|merge({'sasc': false}) %}
                {% endif %}
                <th scope="col"><a href={{'?' ~ queryParams|url_encode}}>Email</a></th>

                {% set queryParams = queryParams|merge({'sort': 'name'}) %}
                {% set queryParams = queryParams|merge({'sasc': true}) %}
                {% if sort == 'name' and sasc %}
                        {% set queryParams = queryParams|merge({'sasc': false}) %}
                {% endif %}
                <th scope="col"><a href={{'?' ~ queryParams|url_encode}}>Name</a></th>

                {% set queryParams = queryParams|merge({'sort': 'zip'}) %}
                {% set queryParams = queryParams|merge({'sasc': true}) %}
                {% if sort == 'zip' and sasc %}
                        {% set queryParams = queryParams|merge({'sasc': false}) %}
                {% endif %}
                <th scope="col"><a href={{'?' ~ queryParams|url_encode}}>Zip</a></th>

                {% set queryParams = queryParams|merge({'sort': 'place'}) %}
                {% set queryParams = queryParams|merge({'sasc': true}) %}
                {% if sort == 'place' and sasc %}
                        {% set queryParams = queryParams|merge({'sasc': false}) %}
                {% endif %}
                <th scope="col"><a href={{'?' ~ queryParams|url_encode}}>Place</a></th>

                {% set queryParams = queryParams|merge({'sort': 'phone'}) %}
                {% set queryParams = queryParams|merge({'sasc': true}) %}
                {% if sort == 'phone' and sasc %}
                        {% set queryParams = queryParams|merge({'sasc': false}) %}
                {% endif %}
                <th scope="col"><a href={{'?' ~ queryParams|url_encode}}>Phone</a></th>

                {% set queryParams = initialParams %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a href={{ "edit?targetemail=" ~ user.email }}>{{user.email}}</a></td>
                <td>{{user.name}}</td>
                <td>{{user.zip}}</td>
                <td>{{user.place}}</td>
                <td>{{user.phone}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav>
        <ul class="pagination">
            {% if page > 1 %}
                {% set queryParams = queryParams|merge({'page': '0'}) %}
                <li class="page-item"><a class="page-link" href={{'?' ~ queryParams|url_encode}}>
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only"></span>
                </a></li>
            {% endif %}

            {% for i in 0..(total - 1) %}
                {% if i is divisible by chunk %}
                    {% if i/chunk == page %}
                        <li class="page-item active"><a class="page-link" href="#">{{i / chunk + 1}}</a></li>
                    {% else %}
                        {% set queryParams = queryParams|merge({'page': (i / chunk)}) %}
                        <li class="page-item"><a class="page-link" href={{'?' ~ queryParams|url_encode}}>{{i / chunk + 1}}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if page < total / chunk - 2 %}
                {% set queryParams = queryParams|merge({'page': ((total - 1)/chunk)}) %}
                <li class="page-item"><a class="page-link" href={{'?' ~ queryParams|url_encode}}>
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only"></span>
                </a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}